
<div class="pagination">
  <ul>
<?php if (isset($this->previous)) : ?>
    <li>
	  <a href="<?php echo $this->url(array('page' => $this->previous)); ?>">← <?php echo $this->translate('Previous') ?></a>
    </li>
<?php else: ?>
    <li class="disabled">
      <a href="#">← <?php echo $this->translate('Previous') ?></a>
    </li>
<?php endif; ?>
<?php foreach ($this->pagesInRange as $page): 
    if ($page != $this->current) : ?>
    <li>
	  <a href="<?php echo $this->url(array('page' => $page)); ?>"><span><?php echo $page;?></span></a>
    </li>
<?php else: ?>
    <li class="active">
	  <a href="#"><?php echo $page;?></a>
    </li>
<?php endif; ?>
<?php endforeach; ?>
<?php if (isset($this->next)) : ?>
  <li>
	<a href="<?php echo $this->url(array('page' => $this->next)); ?>"><?php echo $this->translate('Forward') ?> →</a>
  </li>
<?php else: ?>
  <li class="disabled">
	<a href="#"><?php echo $this->translate('Forward') ?> →</a>
  </li>
<?php endif; ?>
  </ul>
</div>
