<?php 
$this->headScript()
    ->appendFile('/js/jquery/template.js')
    ->appendFile('/js/jquery/jquery.fileupload.js')
    ->appendFile('/js/jquery/jquery.fileupload-fp.js')
    ->appendFile('/js/jquery/jquery.fileupload-ui.js');
?>
<div id="upload">
     
<div class="row-fluid fileupload-buttonbar">
    <div class="span12">
        <span class="btn btn-success fileinput-button">
            
            <i class="icon-plus icon-white"></i>
            <span><?php echo $this->translate('Add files...') ?></span>
            <input type="file" name="files[]"<?php if($this->multiple): ?> multiple="multiple" <?php endif; ?>>
        </span>
        <?php if($this->multiple): ?>
      
        <button type="submit" class="btn btn-primary start">
            <i class="icon-upload icon-white"></i>
            <span><?php echo $this->translate('Start upload') ?></span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
            <i class="icon-ban-circle icon-white"></i>
            <span><?php echo $this->translate('Cancel upload') ?></span>
        </button>
        <button type="button" class="btn btn-danger delete">
            <i class="icon-trash icon-white"></i>
            <span><?php echo $this->translate('delete') ?></span>
        </button>
        <input type="checkbox" class="toggle">
        <?php endif; ?>
    </div>
</div>

<?php if($this->multiple): ?>
<div class="row-fluid">
    <div class="span12 fileupload-progress fade">
        <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <div class="bar" style="width:0%;"></div>
        </div>
        <div class="progress-extended">&nbsp;</div>
    </div>
</div>
<?php endif; ?>
    <style>
        .table tr {
            width: 800px;
        }
        
        .files .progress {
  width: 100px;
}
        
    </style>
<div class="fileupload-loading"></div>
<table role="presentation" class="table table-striped">
    
    <tr> <td>&nbsp</td><td>Dateiname</td><td>Rechnungsnummer</td><td>Rechnungsdatum</td><td>Dateigröße</td> <td></td><td></td><td></td></tr>
    <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>

</div>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) {  %}
    <tr class="template-upload fade">
        <td class="preview1"><span class="fade"></span></td>
        <td class="name1"><span>{%=file.name%}</span></td>
        
        <td class="invoicenr1"> <span> <input type="text" name="invoicenr" style="width: 117px"> </span> </td> 
        
        <td class="invoicedate1"> <span><input type="text" name="invoicedate" class="datepicker" style="width: 73px"> </span> </td>
        <td class="size1"><span>{%=o.formatFileSize(file.size)%}</span></td>    
        
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span><?php echo $this->translate('Start') ?></span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span><?php echo $this->translate('Cancel') ?></span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>

<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
           {
        {% }  else {  %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="invoicenr">{%=file.invoicenr%}
            </td>
            <td class="date">{%=file.date%}
            </td>
            <td class="size"><span>{%=file.size%}</span></td>
            <td colspan="2"></td>
           
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="icon-trash icon-white"></i>
                <span><?php echo $this->translate('delete') ?></span>
            </button>
            <?php if($this->multiple): ?>
            <input type="checkbox" name="delete" value="1">
            <?php endif; ?>
            <input type="hidden" name="file<?php echo $this->multiple ? '[]' : '' ?>" value="{%=file.name%}">
        </td>
    </tr>
{% } %}


</script>




