@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('http://fonts.googleapis.com/css?family=Muli');
body {
 font-family: 'Muli';
 padding-top: 60px;
}
.brand {
 font-family: 'Lobster';
}
.btn {
 line-height: 18px;
}
h1 {
 margin-bottom: 15px;
 border-bottom: 1px solid #ddd;
}
h2 {
 margin-bottom: 12px;
 border-bottom: 1px solid #ddd;
}
.navigation {
 padding: 8px 0;
}
div.navigation .nav {
 padding: 0 10px;
}
nav.navigation {
 margin-top: 10px;
}
.navigation ul > .active > a, .navigation ul > .active > a:hover {
 color: white !important;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
 background-color: #08C !important;
}
.ui-combobox {
 position: relative;
 display: inline-block;
 margin-bottom: 8px;
}
.typeahead {
 max-height: 200px;
 overflow-y: auto;
 overflow-x: hidden;
}
* html .typeahead {
 height: 200px;
}
.suggest {
 border: 1px solid #ddd;
 padding: 5px;
 background-color: #f5f5f5;
 border-radius: 3px;
 display: block;
 width: 236px;
 text-align: center;
 margin: 4px 0;
}
footer.footer {
 text-align: center;
 margin-top: 15px;
 font-size: 15px;
}
.suggest button {
 margin-top: 4px;
}
.suggest .alert {
 margin-bottom: 3px;
 display: inline-block;
}
form ul.alert {
 margin: 10px 0 4px;
 padding: 3px 0 3px 20px;
 width: 226px;
 position: relative;
}
form ul.alert:before {
 border-right: 8px solid transparent;
 border-left: 8px solid transparent;
 border-top: 8px solid transparent;
 border-bottom: 8px solid #F2DEDE;
 width: 0px;
 content: "";
 position: absolute;
 left: 10px;
 top: -16px;
}
table.list input[type="text"] {
 width: 92%;
 padding: 0.3%;
 display: block;
 margin: 0 auto;
}
table.list th div {
 position: relative;
}
table.list th i {
 position: absolute;
 right: 0; 
 top: 3px;
}
table.list tbody tr:first-child td {
 padding: 4px 0.1% !important;
}
table.list tbody tr:first-child td input {
}
table.list th a {
 white-space: nowrap;
 margin-right: 10px;
}
header.navbar .navbar-inner {
 border-radius: 0;
}
.table-top {
 margin: 0;
 padding: 4px;
 text-align: right;
}
*:focus, *:active {
 outline: none !important;
}
.tab-content {
 padding: 20px;
 margin: 0 0 20px;
 border: 1px solid #ddd;
 border-top: 0;
 border-radius: 0 0 4px 4px;
}
.nav.nav-tabs {
 margin-bottom: 0;
}
/** TABLE **/
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
}
 
table.table thead .sorting { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }
table.table-items {
    margin: 1em 0;
    clear: both;
}
div.dataTables_length label {
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
.table-items td:last-child, .table-items th:last-child {
 text-align: right;
 white-space: nowrap;
}
.pagination {
    float: right;
    margin: 0;
}
legend {
 margin-top: 15px;
 margin-bottom: 5px;
}
.icon-options {
 margin-right: 2px;
 width: 16px !important;
 height: 16px !important;
 background: url('../img/icon-options.png') left top no-repeat transparent scroll;
}
select[name="itemsperpage"] {
 float: left;
 margin: 0;
}
label {
 font-weight: bold;
 white-space: nowrap;
}
label.required:after { content: " *" }
fieldset.inventory-number {
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
 background-color: #F5F5F5;
 border-radius: 4px;
 padding-top: 18px;
 padding-left: 20px;
 border: 1px solid rgba(0, 0, 0, 0.05);
 margin-bottom: 18px;
}
.inventory-number label {
 font-size: 1.3em;
}
.inventory-number input {
 font-size: 1.5em;
}
.inventory-details th {
 width: 180px;
}
.editable:hover {
 background-color: rgb(255, 255, 204);
}
#ajax-loader {
 display: none;
 position: fixed;
 padding: 2px;
 border-radius: 4px;
 border: 1px solid silver;
 width: 32px;
 height: 32px;
 left: 50%;
 top: 50%;
 z-index: 9999;
 margin-top: -80px;
 margin-left: -18px;
 background: url('../img/ajax-loader.gif') no-repeat center center rgba(245, 245, 245, 0.7) scroll;
}
fieldset {
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
 border-radius: 4px;
 padding-top: 18px;
 border: 1px solid rgba(0, 0, 0, 0.05);
 margin-bottom: 18px;
}
label[for="numInternal"] {
 white-space: nowrap;
 padding-left: 5px;
}
ol.sortable {
 width: 25%;
}
ol.sortable li div {
 height: 26px;
 padding: 0 2px;
 cursor: move;
}
ol.sortable li div:hover {
 background-color: #f5f5f5;
}
ol.sortable a.delete-item {
 float: right;
 clear: right;
}
#save-ns {
 display: none;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

/* Fix for IE 6: */
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
* + html .fileinput-button {
  padding: 2px 15px;
  margin: 1px 0 0 0;
}

@media (max-width: 767px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
}
.control-group p.help-block { margin-top: 10px; }