/* 
    Document   : style1
    Created on : 21.08.2013, 09:18:36
    Author     : marcfischer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


td.status1 {
    background-color: red;
    
}

td.status2 {
    
    color: white;
    background-color: black;
}

td.status3 {
    
    background-color: red;
}

td.status4 {
    background-color: grey;
}

.icon-flag {
    color: orange;
    font-size: 1.2em;
}
.icon-lock {
    color: red;
    font-size: 1.2em;
}
.icon-archive {
    color: black;
    font-size: 1.2em;
}
.icon-check
{
    color: green;
    font-size: 1.2em;
}

.tbl_nr {
    width: 40px;
    
}
.tbl_nr a{
    color: #3f9c35;
}
th.tbl_nr a{
    color: #08c;
}

.tbl_status {
    width: 75px;
}

.carousel-indicators {
    list-style: none;
}

#myCarousel{

    margin:auto;
}

#modal {
/*    position: absolute;*/

top: 250px;


}

.modal-body{
    
    
    
}

p.left{
    text-align: left;
}

.modal-footer {
    position: absolute;
    bottom: 0px;
    width: 95%;
}

.table-top {
    /*background-color: #07a9a9;*/
}

h1 {
    color: #005a5a;
    font-family: Century Gothic;
}

div.pic {
   
    margin-bottom: 10px;
}

label.title_style {
    color: #07a9a9;
}
a.title_style

h2 {
    color: #07a9a9;
}

.label-info{
  
}

.navbar-fixed-top .brand {
    color: #005a5a;
    font-family: Century Gothic;
}

.btn-feedback {
 background-color: #07a9a9;   
 background-image: none;
 color: white;
 text-shadow: none;
 
}
.feedback-color {
    color: white;
}

body.login{
    background-color: rgb(7, 169, 169); 
    background-image: url("/img/conlabz_hintergrund.png");
    background-repeat:no-repeat;
    background-position:bottom right; 
    
}

div.loginbox {

padding: 26px 24px 46px;
font-weight: normal;
background: #fff;
border: 1px solid #e5e5e5;
-webkit-box-shadow: #014342 0 4px 10px -1px;
box-shadow: #014342 0 4px 10px -1px;
width: 250px;
margin-left: auto;
margin-right: auto;
}

div.regist_box {
  padding: 26px 24px 46px;
font-weight: normal;
background: #fff;
border: 1px solid #e5e5e5;
-webkit-box-shadow: #014342 0 4px 10px -1px;
box-shadow: #014342 0 4px 10px -1px;
width: 600px;
margin-left: auto;
margin-right: auto;  
}

p.login {
    width: 310px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 5px;
}

input#username{
   height: 36px;
    color: #555;
font-weight: 200;

line-height: 1;
width: 100%;
padding: 3px;
margin-top: 2px;
margin-right: 6px;
margin-bottom: 16px;
border: 1px solid #e5e5e5;
background: #fbfbfb;
outline: 0;
}

input#password{
height: 36px;
color: #555;
font-weight: 200;

line-height: 1;
width: 100%;
padding: 3px;
margin-top: 2px;
margin-right: 6px;
margin-bottom: 16px;
border: 1px solid #e5e5e5;
background: #fbfbfb;
outline: 0;
}
input#email{
height: 36px;
color: #555;
font-weight: 200;

line-height: 1;
width: 100%;
padding: 3px;
margin-top: 2px;
margin-right: 6px;
margin-bottom: 16px;
border: 1px solid #e5e5e5;
background: #fbfbfb;
outline: 0;
}

input#password_new{
height: 36px;
color: #555;
font-weight: 200;

line-height: 1;
width: 100%;
padding: 3px;
margin-top: 2px;
margin-right: 6px;
margin-bottom: 16px;
border: 1px solid #e5e5e5;
background: #fbfbfb;
outline: 0;
}
 input#username_regist, input#Vorname, input#nachname, input#strasse, input#ort, input#plz, input#firma, input#telephone, input#captcha-input{
height: 36px;
color: #555;
font-weight: 200;

line-height: 1;
width: 100%;
padding: 3px;
margin-top: 2px;
margin-right: 6px;
margin-bottom: 16px;
border: 1px solid #e5e5e5;
background: #fbfbfb;
outline: 0;
}
 
input#password_again{
height: 36px;
color: #555;
font-weight: 200;

line-height: 1;
width: 100%;
padding: 3px;
margin-top: 2px;
margin-right: 6px;
margin-bottom: 16px;
border: 1px solid #e5e5e5;
background: #fbfbfb;
outline: 0;
}

div.link-co {
    position: absolute;
    font-size: 20px;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: 10px;
    color: white;
    
}
div.link-co-regist {
     position: absolute;
    font-size: 20px;
    left: 0;
    padding: 10px;
    margin: 10px;
    color: white;
} 

a.link {
    color: white;
    text-decoration: none;
}
a.link:hover {
    color: white
    
}
a.link_login {
    color: black;
    text-decoration: none;
} 
a.link_login:hover {
    color:black;
    font-size:16px;
    text-decoration:none;
}
h1.login_titel {
    font-size: 26px;
    text-decoration: none;
    border-bottom: none;
    
}


input.login-btn {
    background-image: none;
    background-color: #1ED63B;
}

input.login-btn:hover {
    background-image: none;
    background-color: #1ED63B;
}

div.forgotpass {
    color: white;
    width : 100px;
    margin-left: auto;
    margin-right: auto;
}