<ul class="nav well">
  <li>
    <p>
      <i class="icon-qrcode"></i> <?php echo $this->translate('Your QR-code:') ?>
    </p>
    <p>
      <img src="/qr/png/id/<?php echo $this->id ?>" alt="QR-Code, Inventarnummer: <?php echo $this->id ?>">
    </p>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/qr/download/id/<?php echo $this->id ?>">
      <i class="icon-download"></i>
      <?php echo $this->translate('Download QR-Code') ?>
     </a>
  </li>
</ul>
