<?php
$item = $this->inventory;






?>
<?php $this->headline = $this->translate('Inventory number:') . ' ' . $item->getId() ?>
<div class="row-fluid">
  <div class="span3"><?php echo $this->placeholder('qr-code'); ?></div>
  <div class="span9">
    <div class="inventory-details">
    <table class="table table-striped table-condesed table-bordered">
      <tbody>
        <tr>
          <th><?php echo $this->translate('Label') ?></th>
          <td><?php echo $item->getLabelName(); ?></td>
        </tr>
        <tr>
          <th><?php echo $this->translate('Category') ?></th>
          <td><?php echo implode(' / ', $item->getCategoryPath()); ?></td>
        </tr>
        <tr>
          <th><?php echo $this->translate('Manufacturer')?></th>
          <td><?php echo $item->getManufacturer()->getName() ?></td>
        </tr>
        <tr>
          <th><?php echo $this->translate('Model') ?></th>
          <td><?php echo $item->getModel()->getName() ?></td>
        </tr>
        <tr>
          <th><?php echo $this->translate('Serial number') ?></th>
          <td><?php echo $item->getSerialnr() ?>
        </tr>
      </tbody>
    </table>
    
    <table class="table table-striped table-condesed table-bordered">
      <tbody>
        <tr>
          <th><?php echo $this->translate('Person') ?></th>
          <td>
              <?php echo $item->getPerson()->getFirstname() ?>
              <?php echo $item->getPerson()->getLastname() ?>
          </td>
        </tr>
        <tr>
          <th><?php echo $this->translate('Location') ?></th>
          <td><?php echo $item->getLocation() ?></td>
        </tr>
                <tr>
          <th>
              <?php echo $this->translate('Distributor') ?>
        </th>
          <td>
               <?php echo $item->getDistributor()->getName() ?>
        </td>
        </tr>
        <tr>
          <th> <?php echo $this->translate('Price') ?>
           </th>
          <td>
          <?php echo $this->currency($item->getPrice(), false); ?>  
          </td>
        </tr>
      </tbody>
    </table>
            
      
                <?php
        foreach ($item->getInvoices() as $invoice) {

            //echo "<table><tr><td>"; echo $invoice->getId()!= NULL ? $invoice->getInvoicenr() :''; echo  "</td></tr></table>";
            //echo "<table><tr><td>hallo</td><td>wie gehts?</td></tr></table>";

            echo
            "<table class='table table-striped table-condesed table-bordered'> 
       <tbody>

        
        <tr>
          <th>";
            echo $this->translate('Invoice number');
            echo "</th>
          <td>";
            echo $invoice->getId() != NULL ? '<a href="' . $this->url(array('controller' => 'invoice', 'action' => 'view', 'id' => $invoice->getId()), 'default') . '">' . $invoice->getInvoicenr() . '</a>' : '';
            echo "</td>
        </tr>
        <tr>
          <th>";
            echo $this->translate('Invoice date');
            echo "</th>
          <td>";
            echo $invoice->getId() != NULL ? $invoice->getInvoicedate() : '';
            echo "</td>
        </tr>
        </tbody>
            </table>";
        }
        ?>    
          
       
    <table class="table table-striped table-condesed table-bordered">
      <tbody>
        <tr>
          <th><?php echo $this->translate('Account') ?></th>
          <td><?php echo $item->getAccount()->getNumber() . ' ' . $item->getAccount()->getLabel() ?></td>
        </tr>
        <tr>
          <th><?php echo $this->translate('Account inventory number') ?></th>
          <td><?php echo $item->getInvaccnr() ?></td>
        </tr>
        <tr>
          <th><?php echo $this->translate('Recorded') ?></th>
          <td><?php echo $item->getRecorddate()->format('d.m.Y') ?></td>
        </tr>
      </tbody>
    </table>
        
        <table class="table table condesed table-bordered">
            <tbody>
                <tr>    
                    <th><?php echo $this->translate('Status')?></th>
                    <td> <i class="<?php echo $this->icon($item->getStatus()); ?> pull-left"></i> <?php echo "       " . $item->getStatus() ?></td>
                </tr>
                
                    <th><?php echo $this->translate('Comment')?></th>
                    <td><?php echo $item->getComment() ?></td>   
            </tbody>    
            
        </table>
    </div>
    
    <div class="form-actions">
      <form class="inline delete" action="<?php echo $this->url(array('controller' => 'edit', 'action' => 'delete-inventory', 'id' => $item->getId()), 'default', true) ?>" method="post">
        <a href="/edit/inventory/id/<?php echo $item->getId() ?>" class="btn btn-primary">
          <i class="icon-pencil icon-white"></i>
          <?php echo $this->translate('edit') ?>
        </a>
        <button class="btn btn-danger" type="submit"><i class="icon-white icon-remove"></i> <?php echo $this->translate('delete') ?></button>
      </form>
    </div>
  </div>
</div>
