<p class="login"> <img src="/img/login-form-image.png"></p>
<body>
<div class="row-fluid">
    <div class="span4"></div>
    <div class="loginbox">
        <?php $this->headTitle('Login'); ?>
        <h1 class="login_titel">Login</h1>
        <?php /*
        demo data
        <div class="alert alert-info">
            <strong><?php echo $this->translate('Username') ?></strong>: demo<br>
            <strong><?php echo $this->translate('Password') ?></strong>: demo
        </div> */ ?>
        
        
        <?php echo $this->form->setAction($this->url()); ?>
        <div class="footer">
        <hr>
        <a class="link_login" href="/login/forgot">Passwort vergessen?</a><br>
        <a class="link_login" href="http://platzhalter.conlabz.de/signup" target="_blank">Anmeldung</a>
        </div>
    </div>

    <div class="link-co"> <a class="link" href="http://www.conlabz.de" target="_blank">E-Commerce. Anwendungen. Unternehmen. </a>
</div>
</body>