
<html>
	<head>
	<?php
		echo $this->headMeta();
    ?>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <?php
		echo $this->headTitle();
		echo $this->headLink();		
        echo $this->jQuery();
        echo $this->headScript(); 
        ?>
	</head>
	<body class="login">
    
      <header class="navbar-fixed-top navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a href="http://platzhalter.conlabz.de/" target="_blank" class="brand"><?php echo $this->translate('conlabz Inventory management') ?></a>
          </div>
        </div>
      </header>
      
      <div class="container-fluid">      
        
      <div class="row-fluid">
        
          <div class="span12" id="main">
          <?php echo $this->flashMessenger() ?>
		  <?php echo $this->layout()->content; ?>
          </div>

        </div>
        
      </div>
      
	</body>
</html>
