<?php echo $this->doctype() ?>
<html>
	<head>
	<?php
		echo $this->headMeta();
    ?>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <?php
		echo $this->headTitle();
                echo $this->jQuery();
		echo $this->headLink();		
        
        echo $this->headScript(); 
        ?>
    
    <style>
        h1 {
            font-size: 26px;
            
        }
        .well {
            margin-bottom: 0px;
            
        }
        
        .imgfoot {
            margin-bottom: 15px;
        }
    </style>
    
    
	</head>
	<body>
    
      <header class="navbar-fixed-top navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
          
            <a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'index'), 'default') ?>" class="brand title_style"><?php echo $this->translate('conlabz Inventory management') ?></a>
            
            <?php echo $this->navigation()->menu()->setMinDepth(1)->setUlClass('nav'); ?>
            
            
            <ul class="nav pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-options"></i> <?php echo $this->translate('options') ?><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="<?php echo $this->url(array('controller' => 'edit', 'action' => 'core-data'), 'default'); ?>">
                      <i class="icon-pencil"></i> <?php echo $this->translate('Edit core data') ?>
                    </a>
                  </li>
                  <li>
                    <a href="<?php echo $this->url(array(), 'logout') ?>">
                      <i class="icon icon-off"></i>  <?php echo $this->translate('Logout') ?>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            
          </div>
        </div>
      </header>
      
      <div class="container-fluid">
      <?php /* Breadcrumb
      <div class="row-fluid">
        <div class="span12 breadcrumb">
          <?php echo $this->navigation()->breadcrumbs()->setMinDepth(1)->setSeparator(' <span class="divider">/</span>')?>
        </div>
      </div>
        */ ?>     
        
      <div class="row-fluid">
        <?php /*
          <nav class="span2 navigation">
          <?php echo $this->navigation()->menu()->setMinDepth(1)->setUlClass('nav nav-tabs nav-stacked'); ?>
          <?php echo $this->placeholder('qr-code'); ?>
          </nav>
        */ ?>
        
          <section class="span12" id="main">
             
          <?php echo $this->flashMessenger() ?>
              <!--<div class="title_style">-->
              <div class="span12 title_style"><h1><?php echo $this->headline; ?></h1> </div>
            
                  <div class="row-fluid">
              <!--</div>-->
		  <div class="span12"><?php  echo $this->layout()->content; ?> </div>
              </div>
          </section>

        </div>
          </div>
        
        <footer class="row-fluid footer">
            <img src="/img/conlabz_logo.png" width="300" height="90" class="imgfoot">
          <div class="well">
                <a href="http://www.conlabz.de/">&copy; <?php echo date('Y') ?> conlabz GmbH, Koblenz</a>
          </div>
        </footer>
            
            <div id="feedback"></div>
                
      
      
	</body>
</html>
