<tr>
  <td>
    <span id="account_<?php echo (int) $this->id ?>_number" class="editable"><?php echo $this->escape($this->number) ?></span>
  </td>
  <td>
    <span id="account_<?php echo $this->escape($this->id) ?>_label" class="editable"
    style="background-color: transparent;"><?php echo $this->escape($this->label) ?></span>
  </td>
  <td>
    <a href="/edit/delete-item/entity/account/id/<?php echo (int) $this->id ?>/"
    class="btn btn-mini delete-item btn-danger"><i class="icon-white icon-remove"></i> <?php echo $this->translate('delete') ?></a>
  </td>
</tr>
