<?php $this->headTitle()->prepend($this->translate($this->title)) ?>
<?php $this->headline = $this->translate($this->title) ?>
<p><span class="label"><?php echo $this->translate('Labels with * are required') ?></span></p>
<?php
$form = $this->form;
?>

<form class="form-horizontal ajax" action="<?php echo $form->getAction() ?>" enctype="<?php echo $form->getEnctype() ?>" method="<?php echo $form->getMethod() ?>">

    <fieldset class="inventory-number">
        <div class="control-group">
            <label class="title_styl"><?php echo $this->translate('Inventory number') ?>: <?php echo $this->id ? $this->id : $this->translate('will be created automatically') ?></label>
        </div>
    </fieldset>
    
    <input type="hidden" id="inventoryId" value="<?php echo $this->id ? $this->id : $this->translate('will be created automatically') ?>">


  <fieldset>

    <div class="row-fluid">
      <div class="span12 control-group">
        <?php echo $form->category->renderLabel() ?>
        <div class="controls" data-elem="category">
          <?php echo $form->category->renderViewHelper(); ?>
          <?php echo $form->category->renderErrors() ?>
          <?php echo $form->category->renderDescription(); ?>
        </div>
      </div>
    </div>

    <div class="row-fluid">
    
      <div class="suggest-elem span6 control-group">
        <?php echo $form->manufacturer->renderLabel() ?>
        <div class="controls">
          <?php echo $form->manufacturer->renderViewHelper() ?>
          <?php echo $form->manufacturer->renderSuggest() ?>
          <?php echo $form->manufacturer->renderDescription() ?>
        </div>
      </div>

      <div class="suggest-elem span6 control-group">
        <?php echo $form->label->renderLabel() ?>
          <div class="controls">
          <?php echo $form->label->renderViewHelper() ?>
          <?php echo $form->label->renderErrors() ?>
          <?php echo $form->label->renderSuggest() ?>
          <?php echo $form->label->renderDescription() ?>
        </div>
      </div>
    
    </div>
      
    <div class="row-fluid">
        
      <div class="suggest-elem span6 control-group">
        <?php echo $form->model->renderLabel() ?>
        <div class="controls">
          <?php echo $form->model->renderViewHelper() ?>
          <?php echo $form->model->renderErrors() ?>
          <?php echo $form->model->renderSuggest() ?>
          <?php echo $form->model->renderDescription() ?>
        </div>
      </div>
        
      <div class="span6 control-group">
        <?php echo $form->serialnr->renderLabel() ?>
        <div class="controls">
          <?php echo $form->serialnr->renderViewHelper() ?>
          <?php echo $form->serialnr->renderDescription() ?>
        </div>
      </div>
    </div>
    
  </fieldset>

  <fieldset class="row-fluid">
  
      <div class="suggest-elem span6 control-group">
        <?php echo $form->person->renderLabel() ?>
        <div class="controls">
          <?php echo $form->person->renderViewHelper() ?>
          <?php echo $form->person->renderSuggest() ?>
          <?php echo $form->person->renderDescription() ?>
        </div>
      </div>
      
      <div class="span6 control-group">
        <?php echo $form->location->renderLabel() ?>
        <div class="controls">
          <?php echo $form->location->renderViewHelper() ?>
          <?php echo $form->location->renderDescription() ?>
        </div>
      </div>
      
  </fieldset>

  <fieldset>
  
    <div class="row-fluid">
    
      <div class="suggest-elem span6 control-group">
        <?php echo $form->distributor->renderLabel() ?>
        <div class="controls">
          <?php echo $form->distributor->renderViewHelper() ?>
          <?php echo $form->distributor->renderSuggest() ?>
          <?php echo $form->distributor->renderDescription() ?>
        </div>
      </div>
      
      <div class="span6 control-group">
        <?php echo $form->price->renderLabel() ?>
        <div class="controls">
          <?php echo $form->price->renderViewHelper() ?>
          <?php echo $form->price->renderDescription() ?>
        </div>
      </div>
      
    </div>
    
    <div class="row-fluid">
    <!--<form id="fileupload" class="form-horizontal ajax" action="<?php //  echo $form->getAction()?>" enctype="multipart/form-data" method="<?php echo $form->getMethod()?>">-->
      <div class="suggest-elem span6 control-group">
          
  
        
    <div class="control-group">
        <?php echo $form->getElement('invoice_pdf') ?>
        <label class="control-label">
            <?php echo $this->translate('Invoice') ?>
        </label>
        <div class="controls">
            <?php echo $this->partial('upload.phtml') ?>
            <?php if($this->invoice && $this->invoice->getFile()): ?>
            <span class="help-block">
                <?php echo $this->downloadLink($this->invoice->getId()) ?>
                
                <a href="<?php echo $this->url(array('action' => 'delete-invoicepdf', 'id' => $this->invoice->getId())); ?>" id="delete" class="btn btn-mini delete-item ison"><i class="icon icon-remove"></i> <?php echo $this->translate('delete') ?></a>
            </span>
            <?php endif; ?>
        </div>
    </div>
          </div>
        
        <!--</form>-->
       
       <div class="suggest-elem span6 control-group">
        <?php  echo $form->status->renderLabel() ?>
        <div class="controls">
          <?php  echo $form->status->renderViewHelper() ?>
          <?php echo $form->status->renderErrors() ?>
          <?php echo $form->status->renderSuggest() ?>
          <?php echo $form->status->renderDescription() ?>
        </div>
      </div>
        
               <div class="suggest-elem span6 control-group" id="comment">
        <?php  echo $form->comment->renderLabel() ?>
        <div class="controls">
          <?php  echo $form->comment->renderViewHelper() ?>
          <?php echo $form->comment->renderErrors() ?>
          <?php echo $form->comment->renderSuggest() ?>
          <?php echo $form->comment->renderDescription() ?>
        </div>
      </div>
      
    </div>
    
  </fieldset>

  <fieldset class="row-fluid">
  
    <div class="span6 control-group">
      <?php echo $form->account->renderLabel() ?>
      <div class="controls">
        <?php echo $form->account->renderViewHelper() ?>
        <p class="help-block">
          Bitte wählen Sie ein SKR-Buchungskonto aus. Mit Hilfe dieser Zuordnung kann der optionale Abgleich zwischen Restwertverzeichnis und conlabz Platzhalter stattfinden. Die Konten selbst editieren Sie bitte unter Einstellungen.<br>
          Konten können Sie <a target="_blank" href="/edit/core-data/#accounts">hier anlegen.</a>
        </p>
      </div>
    </div>
    
    <div class="span6 control-group">
      <?php echo $form->invaccnr->renderLabel() ?>
      <div class="controls">
        <?php echo $form->invaccnr->renderViewHelper() ?>
        <?php echo $form->invaccnr->renderErrors() ?>
        <?php echo $form->invaccnr->renderDescription() ?>
      </div>
    </div>
    
  </fieldset>

  <div class="form-actions">
    <?php echo $form->getElement('recorddate') ?>
      <?php echo $form->getElement('invoice_id') ?>
    <?php echo $form->getElement('submit') ?>
    <?php if($form->getElement('delete')): ?>
    <?php echo $form->getElement('delete') ?>
    <?php endif; ?>
  </div>
    <!--<input type='text' class='datepicker'>-->

</form>
