
<?php if($this->title): ?>
<?php $this->headTitle()->prepend($this->translate($this->title)) ?>
<?php $this->headline = $this->translate($this->title)?>
<?php endif; ?>

    <?php $form = $this->form; ?>

<!--<form id="fileupload" class="form-horizontal ajax" action="<?php // echo $form->getAction()?>" enctype="multipart/form-data" method="<?php echo $form->getMethod()?>">-->
    <div class="control-group">
        <label class="control-label" for="invoicenr">
            <?php echo $form->invoicenr->renderLabel() ?>
        </label>
        <div class="controls">
            <?php echo $form->invoicenr->renderViewHelper() ?>
            <?php echo $form->invoicenr->renderErrors() ?>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="invoicedate">
            <?php echo $form->invoicedate->renderLabel() ?>
        </label>
        <div class="controls">
            <?php echo $form->invoicedate->renderViewHelper() ?>
        </div>
    </div>

    <div class="control-group">
        <?php echo $form->getElement('invoice_pdf') ?>
        <label class="control-label">
            <?php echo $this->translate('Invoice PDF') ?>
        </label>
        <div class="controls">
            <?php echo $this->partial('upload.phtml') ?>
            <?php if($this->invoice && $this->invoice->getFile()): ?>
            <span class="help-block">
                <?php echo $this->downloadLink($this->invoice->getId()) ?>
                <a href="<?php echo $this->url(array('action' => 'delete-invoicepdf', 'id' => $this->invoice->getId())); ?>" id="delete" class="btn btn-mini delete-item ison"><i class="icon icon-remove"></i> <?php echo $this->translate('delete') ?></a>
            </span>
            <?php endif; ?>
        </div>
    </div>    

    <div class="form-actions">
        <div class="control-group submittest">
            <?php echo $form->getElement('invoice_id') ?>
            <?php echo $form->getElement('submit') ?>
        </div>
    </div>
    
<!--</form>-->
