<?php $this->headline = $this->translate('Edit core data') ?>

<div class="tabbable">
  
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#categories"><?php echo $this->translate('Categories') ?></a></li>
    <li><a data-toggle="tab" href="#models"><?php echo $this->translate('Models') ?></a></li>
    <li><a data-toggle="tab" href="#labels"><?php echo $this->translate('Labels') ?></a></li>
    <li><a data-toggle="tab" href="#persons"><?php echo $this->translate('Persons') ?></a></li>
    <li><a data-toggle="tab" href="#manufacturer"><?php echo $this->translate('Manufacturer') ?></a></li>
    <li><a data-toggle="tab" href="#distributor"><?php echo $this->translate('Distributor') ?></a></li>
    <li><a data-toggle="tab" href="#accounts"><?php echo $this->translate('Accounts') ?></a></li>
  </ul>
  
  <div class="tab-content">
  
    <div class="tab-pane active" id="categories">
      <h2><?php echo $this->translate('Categories') ?></h2>
      
      <?php echo $this->nestedSetList($this->categories); ?>
      <div class="form-actions" id="save-ns">
          <button class="btn btn-primary" id="toArray"><?php echo $this->translate('save categories') ?></button>
      </div>
      <div class="form-actions">
        <form action="/edit/core-data/" class="form-inline" method="post">
          <?php echo $this->translate('Add child') ?>
          <input class="input-small" type="text" name="childname">
          <?php echo $this->translate('in') ?>
          <span id="ns-select"><?php echo $this->nestedSetSelect($this->categories); ?></span>
          <button type="submit" class="btn btn-success"><?php echo $this->translate('add') ?></button>
        </form>
      </div> 
      
    </div>
      
    <div class="tab-pane" id="labels">
      <h2><?php echo $this->translate('Labels') ?></h2>
      <p><span class="label label-info">Neue Bezeichnungen können Sie direkt beim Anlegen von Inventar ergänzen.</span></p>
      <table class="table table-bordered table-condensed table-striped table-items">
        <thead>
          <tr>
            <th><?php echo $this->translate('Name') ?></th>
            <th><?php echo $this->translate('Action') ?></th>
          </tr>
        </thead>
        <tbody>
        <?php foreach($this->labels as $id => $name) : ?>
          <tr>
            <td><span class="editable" id="<?php echo 'label_' . $id . '_name' ?>"><?php echo $name ?></span></td>
            <td>
              <a class="btn btn-mini delete-item btn-danger" href="/edit/delete-item/entity/label/id/<?php echo $id ?>/"><i class="icon-white icon-remove"></i> <?php echo $this->translate('delete') ?></a>
            </td>
          </tr>
        <?php endforeach; ?>
        </tbody>
      </table>
    </div>
      
    <div class="tab-pane" id="models">
      <h2><?php echo $this->translate('Models') ?></h2>
      <p><span class="label label-info">Neue Modelle können Sie direkt beim Anlegen von Inventar ergänzen.</span></p>
      <table class="table table-bordered table-condensed table-striped table-items">
        <thead>
          <tr>
            <th><?php echo $this->translate('Name') ?></th>
            <th><?php echo $this->translate('Action') ?></th>
          </tr>
        </thead>
        <tbody>
        <?php foreach($this->models as $id => $name) : ?>
          <tr>
            <td><span class="editable" id="<?php echo 'model_' . $id . '_name' ?>"><?php echo $name ?></span></td>
            <td>
              <a class="btn btn-mini delete-item btn-danger" href="/edit/delete-item/entity/model/id/<?php echo $id ?>/"><i class="icon-white icon-remove"></i> <?php echo $this->translate('delete') ?></a>
            </td>
          </tr>
        <?php endforeach; ?>
        </tbody>
      </table>
    </div>
    
    <div class="tab-pane" id="persons">
      <h2><?php echo $this->translate('Persons') ?></h2>
      <p><span class="label label-info">Neue Personen können Sie direkt beim Anlegen von Inventar ergänzen.</span></p>
      <table class="table table-bordered table-condensed table-striped table-items">
        <thead>
          <tr>
            <th><?php echo $this->translate('First name') ?></th>
            <th><?php echo $this->translate('Surname') ?></th>
            <th><?php echo $this->translate('Action') ?></th>
          </tr>
        </thead>
        <tbody>
        <?php foreach($this->persons as $person) : ?>
          <tr>
            <td><span class="editable" id="person_<?php echo $person->getId() ?>_firstname"><?php echo ($person->getFirstname() == '') ? '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' : $person->getFirstname() ?></span></td>
            <td><span class="editable" id="person_<?php echo $person->getId() ?>_lastname"><?php echo $person->getLastname() ?></span></td>
            <td>
              <a class="btn btn-mini delete-item btn-danger" href="/edit/delete-item/entity/person/id/<?php echo $person->getId() ?>/"><i class="icon-white icon-remove"></i> <?php echo $this->translate('delete') ?></a>
            </td>
          </tr>
        <?php endforeach; ?>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="manufacturer">
      <h2><?php echo $this->translate('Manufacturer') ?></h2>
      <p><span class="label label-info">Neue Hersteller können Sie direkt beim Anlegen von Inventar ergänzen.</span></p>
      <table class="table table-bordered table-condensed table-striped table-items">
        <thead>
          <tr>
            <th><?php echo $this->translate('Name') ?></th>
            <th><?php echo $this->translate('Action') ?></th>
          </tr>
        </thead>
        <tbody>
        <?php foreach($this->manufacturer as $id => $name) : ?>
          <tr>
            <td><span class="editable" id="manufacturer_<?php echo $id ?>_name"><?php echo $name ?></span></td>
            <td>
              <a class="btn btn-mini delete-item btn-danger" href="/edit/delete-item/entity/manufacturer/id/<?php echo $id ?>/"><i class="icon-white icon-remove"></i> <?php echo $this->translate('delete') ?></a>
            </td>
          </tr>
        <?php endforeach; ?>
        </tbody>
      </table>    
    </div>
    
    <div class="tab-pane" id="distributor">
      <h2><?php echo $this->translate('Distributor') ?></h2>
      <p><span class="label label-info">Neue Lieferanten können Sie direkt beim Anlegen von Inventar ergänzen.</span></p>
      <table class="table table-bordered table-condensed table-striped table-items">
        <thead>
          <tr>
            <th><?php echo $this->translate('Name') ?></th>
            <th><?php echo $this->translate('Action') ?></th>
          </tr>
        </thead>
        <tbody>
        <?php foreach($this->distributor as $id => $name) : ?>
          <tr>
            <td><span class="editable" id="distributor_<?php echo $id ?>_name"><?php echo $this->escape($name) ?></span></td>
            <td>
              <a class="btn btn-mini delete-item btn-danger" href="/edit/delete-item/entity/distributor/id/<?php echo (int) $id ?>/"><i class="icon-white icon-remove"></i> <?php echo $this->translate('delete') ?></a>
            </td>
          </tr>
        <?php endforeach; ?>
        </tbody>
      </table>  
    </div>
    
    <div class="tab-pane" id="accounts">
      <h2><?php echo $this->translate('Accounts') ?></h2>
      <table class="table table-bordered table-condensed table-striped table-items" id="accounts-table">
        <thead>
          <tr>
            <th><?php echo $this->translate('Number') ?></th>
            <th><?php echo $this->translate('Label') ?></th>
            <th><?php echo $this->translate('Action') ?></th>
          </tr>
        </thead>
        <tbody>
        <?php foreach($this->accounts as $account) : ?>
        <?php echo $this->partial('new/account-table-row.phtml', array(
                        'id' => $account->getId(),
                        'number' => $account->getNumber(),
                        'label' => $account->getLabel())); ?>
        <?php endforeach; ?>
        </tbody>
      </table>
      
      <h2><?php echo $this->translate('Add account') ?></h2>
      
      <form action="/new/account/" method="post" class="form-horizontal" id="accounts-form">
        <div class="control-group">
          <label for="account-number" class="control-label"><?php echo $this->translate('Number') ?></label>
          <div class="controls">
            <input type="text" name="number" id="account-number">
          </div>
        </div>
        <div class="control-group">
          <label for="account-label" class="control-label"><?php echo $this->translate('Label') ?></label>
          <div class="controls">
            <input type="text" name="label" id="account-label">
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" value="<?php echo $this->translate('save') ?>" class="btn btn-success">
        </div>
      </form>
      
    </div>
      
  </div>

</div>
