<?php $title = $this->translate('Edit invoice') ?>
<?php echo $this->headTitle()->prepend($title) ?>
<h1><?php echo $title ?></h1>
<div class="row-fluid">
    <div class="span3 well" style="padding:8px 0">
    <?php //echo $this->partial('invoice/items.phtml', array(
        //'items' => $this->invoice->getInventories()
   // )); ?>
    </div>
    <div class="span9">
        <?php echo $this->partial('new/invoice.phtml', array(
                'form' => $this->form,
                'invoice' => $this->invoice
            ));
        ?>
    </div>
</div>
