<?php $this->headTitle()->prepend($this->translate('Invoices')) ?>
<?php $this->headline = $this->translate('Invoices') ?>

<table class="table table-bordered table-condensed table-striped table-items" id="invoice-table">
    <thead>
        <tr>
            <th><?php echo $this->translate('Invoice number') ?></th>
            <th><?php echo $this->translate('Invoice date') ?></th>
            <th><?php echo $this->translate('Action') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->invoices as $invoice) : ?>
            <tr>
                <td><a href="<?php echo $this->url(array('controller' => 'invoice', 'action' => 'view', 'id' => $invoice->getId()), 'default') ?>"><?php echo $invoice->getInvoicenr() ?></a></td>
                <td><?php echo $invoice->getInvoicedate('d.m.Y') ?></td>
                <td>
                    <?php echo $invoice->getFile() ? $this->downloadLink($invoice->getId()) : ''?>
                    <a class="btn btn-danger btn-mini delete-item" href="/edit/delete-item/entity/invoice/id/<?php echo (int) $invoice->getId() ?>/"><i class="icon-white icon-remove"></i> <?php echo $this->translate('delete') ?></a>
                </td>                    
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
