    <ul class="nav nav-list ">
        <li class="nav-header"><?php echo $this->translate('Items') ?></li>
        <?php foreach($this->items as $inv) : ?>
        <li>
            <a href="<?php echo $this->url(
            array(
                'category' => $this->seoUrl($inv->getCategory()->getName()),
                'id' => $inv->getId(),
                'name' => $this->seoUrl($inv->getModel()->getName())
            ), 'view'); ?>"><?php echo $inv->getModel()->getName() ?></a>
        </li>
        <?php endforeach; ?>
    </ul>
