<?php $invoice = $this->invoice; ?>
<?php $title = $this->translate('View invoice') ?>
<?php $this->headTitle()->prepend($title) ?>
<?php $this->headline = $title ?>
<div class="row-fluid">
    <div class="span3 well" style="padding:8px 0">
    <?php //echo $this->partial('invoice/items.phtml', array(
//        'items' => $invoice->getInventories()
//    )); ?>
    </div>
    <div class="span9 inventory-details">
        <table class="table table-striped table-condesed table-bordered">
            <tbody>
                <tr>
                    <th><?php echo $this->translate('Invoice number') ?></th>
                    <td><?php echo $this->escape($invoice->getInvoicenr()) ?></td>
                </tr>
                <tr>
                    <th><?php echo $this->translate('Invoice date') ?></th>
                    <td><?php echo $this->escape($invoice->getInvoicedate()) ?></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-condesed table-bordered">
            <tbody>
                <tr>
                    <th><?php echo $this->translate('Invoice PDF') ?></th>
                    <td><?php echo $invoice->getFile() ? $this->downloadLink($invoice->getId(), 'invoice') : $this->translate('No invoice file stored')
                     ?>
                    </td>
                    
                    <td>
                     <?php // echo $invoice->getFile() ? $this->preview($invoice->getId()) : $this->translate('No invoice file stored') ?>
                     
                     <a id="preview" href="#" role="button" class="btn">Vorschau</a>
                     
                    </td>
                   
                </tr>
            </tbody>
        </table>
        <input type="hidden" id="id" value="<?php echo $this->id;?>">
<!--        <div class="form-actions">
            <a href="<?php // echo $this->url(array('controller' => 'edit', 'action' => 'invoice', 'id' => $invoice->getId()), 'default') ?>" class="btn btn-primary">
              <i class="icon-pencil icon-white"></i>
              <?php // echo $this->translate('edit') ?>
            </a>
        </div>-->
    </div>
</div>


<div id="modal" class="modal hide"  role="dialog">
<!--  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Vorschau</h3>
  </div>-->
  <div class="modal-body">
<!--    <p><img src="/img/ajax-loader.gif"></p>-->
      <p></p>
  </div>
  <div class="modal-footer">
      <div>
       <p class="left">Rechnungsname: <?php echo $this->escape($invoice->getInvoicenr()) ?> Rechnungsdatum: <?php echo $this->escape($invoice->getInvoicedate()) ?></p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Schließen</button>
    </div>
  </div>
</div>